<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Google Icon Fonts used by Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <!-- JavaScript for Materialize -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Update Hike</title>
</head>
<body>

    <nav>
        <div class="nav-wrapper teal accent-4">
          <a href="/hikes" class="brand-logo left hide-on-small-only">HikeBook</a>
          <ul class="right">
            <li>    
              <a href="/hikes"><i class="left"></i>View Hikes</a>
          </li>
          <li>
              <a href="/hikes/new"><i class="left"></i>Add Hike</a>
          </li>
          <li>
            <a href="/users/favourites"><i class="left"></i>My Favourites</a>
        </li>
            <li>
              <% if (user) { %>
                  <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
              <% } else { %>
                  <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
              <% } %>
            </li>
          </ul>
        </div>
      </nav>
<div class="container">
    <h1>Edit Hike</h1>
    
          <h5><a href="/hikes/<%= hike.id %>"><%= hike.name %></a></h5>
          <form action="/hikes/<%= hike.id %>?_method=PUT"
            class="edit-form" method="POST">
            <label>Name:
                <input type="text" name="name" value="<%= hike.name %>">
            </label><br>
            <label>Description:
                <input type="text" name="description" value="<%= hike.description %>">
            </label><br>
            <label>Difficulty:
                <select name="difficulty">
                  <option value="<%= hike.difficulty %>"selected></option>
                  <option value="easy">Easy</option>
                  <option value="moderate">Moderate</option>
                  <option value="challenging">Challenging</option>
                </select>
              </label><br>
              <label>Date:
                <input type="datetime-local" name="date" value ="<%= hike.date %>">
              </label><br>
              <label>Location:
                <input type="string" name="location" value ="<%= hike.location %>" >
              </label><br>
            <button class="my-20 favourite-btn btn waves-effect waves-light" type="submit">Update Hike</button>
          </form>
        </li>
    </ul>
    <a href="/hikes">Back to Hikes</a>
  </div>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
       var elems = document.querySelectorAll('select');
       var instances = M.FormSelect.init(elems);
     });

   </script>
</body>
</html>