<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Hike</title>
</head>
<body>
    <h1>Hike</h1>
    <h3><%= hike.name %></h3>
    <h3>Description: <%= hike.description %></h3>
    <h3>Date: <%= hike.date %></h3>
    <h3>Location: <%= hike.location %></h3>    
    <a href="/hikes/edit/<%= hike.id %>">Edit Hike</a>
</body>
</html>